<%- include ("./partials/header") %>


<section class="page-heading" id="top">
    <div class="container">
        <div class="row">
            <div class="col-md-6">

            </div>
            <div class="col-md-6">
                <div class="page-direction-button">
                    <a href="/home/booking"><i class="fa fa-home"></i>Go Back Home</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!--List search tiket below here-->


<section class="banner2 banner ">
    <div class="container">

        <% for(let i = 0; i < flightInfo.length; i++) { %>
            <div class="" style="margin-top: 30px;background-color: grey">
                <div class="row submit-form">
                    <!--            <form action="/home/flight" method="GET">-->

                    <div class="col-md-3 ">
                        <div class="">
                            <%
                                let flightCode = flightInfo[i].flightID["airline"];
                                let arlines = [
                                    {
                                        code: "QH",
                                        name: "Bamboo Airways"
                                    },
                                    {
                                        code: "VU",
                                        name: "Vietravel Airlines"
                                    },
                                    {
                                        code: "VNA",
                                        name: "Vietnam Airlines"
                                    },
                                    {
                                        code: "VJ",
                                        name: "VietJet Air"
                                    }
                                ]

                                let airline = arlines.find(airline => {
                                    return flightCode === airline.code
                                }) || {code: "unknown", name: "unknown"};
                            %>
                            <label class="bigger-font"><h3><%= airline.name %></h3></label>
                        </div>
                    </div>

                    <div class="col-md-6 ">
                        <div class="">
                            <div class="row">
                                <div class="col-md-3">
                                    <label class="bigger-font"><%= flightInfo[i].flightID["STD"] %> </label>
                                </div>
                                <div class="col-md-4">
                                    <%
                                        // js code here
                                        var STD = flightInfo[i].flightID["STD"].split(":");
                                        STD.map(std => {
                                            std = parseInt(std);
                                        });
                                        var STA = flightInfo[i].flightID["STA"].split(":");
                                        STA.map(sta => {
                                            sta = parseInt(sta);
                                        });
                                        if (+STA[0] < +STD[0]) {
                                            STA[0] = 24 + STA[0];
                                        }
                                        var flightTime = [];
                                        flightTime[0] = STA[0] - STD[0];
                                        flightTime[1] = STA[1] - STD[1];
                                    %>
                                    <label class="bigger-font "><%= flightTime[0] %>h <%= flightTime[1] %>m</label>

                                </div>
                                <div class="col-md-3">
                                    <label class="bigger-font"><%= flightInfo[i].flightID["STA"] %> </label>

                                </div>

                            </div>

                            <div class="row">
                                <div class="col-md-3">
                                    <label class="bigger-font "><%= flightInfo[i].flightID["departure"]["code"] %> </label>
                                </div>
                                <div class="col-md-4">
                                    <label class="bigger-font "><i class="fa fa-long-arrow-right bigger-font "
                                                                   aria-hidden="true"></i></label>
                                </div>
                                <div class="col-md-3">
                                    <label class="bigger-font"><%= flightInfo[i].flightID["arrival"]["code"] %> </label>

                                </div>
                            </div>


                        </div>
                    </div>

                    <div class="col-md-3 ">
                        <div class="">
                            <br>
                            <span class="price"><%= flightInfo[i].price.toLocaleString("vi-VN") %> VND/</span><span
                                    class="bigger-font">pax</span>
                        </div>
                    </div>

                    <div class="col-md-9"></div>
                    <div class="col-md-3">
                        <fieldset>

                            <a id="choose-link" onclick="saveLastPax('<%= passengersSearch %>')"
                               href="/home/prebooking/<%= flightInfo[i]._id %>-<%= passengersSearch %>">
                                <button class="btn">Choose</button>
                            </a>

                        </fieldset>
                    </div>

                    <!--            </form>-->
                </div>
            </div>
        <% } %>

        <style>
            .active {
                background-color: #ffe165 !important;
            }

        </style>

        <div class="row">
            <nav>
                <ul class="pagination" style="align-items: center;
  justify-content: center !important; font-size: 15px;">
                    <%
                    var disabled1 = "";
                    if (pageConfig.prevPage < 1) {
                        disabled1 = "disabled"
                    }
                    %>
                    <li onclick="setPage('<%= pageConfig.prevPage %>')" class="<%= disabled1 %>">
                        <a href="#" aria-label="Previous">
                            <span aria-hidden="true">Prev</span>
                        </a>
                    </li>
                    <%
                    let active = "";
                    for (let i = -1; i < 2; i++) {
                        if (i === 0) {
                            active = "active";
                        } else {
                            active = "";
                        }
                    if(pageConfig.currentPage + i > 0 && pageConfig.currentPage + i <= pageConfig.totalPage ) { %>
                        <li class="<%= active %>" onclick="setPage('<%= pageConfig.currentPage + i%>')" ><a href="#"><%= pageConfig.currentPage + i %></a></li>
                    <% } } %>

                    <%
                    var disabled2 = "";
                    if (pageConfig.nextPage > pageConfig.totalPage) {
                        disabled2 = "disabled"
                    }
                    %>
                    <li onclick="setPage('<%= pageConfig.nextPage %>')" class="<%= disabled2 %>">
                        <a href="#" aria-label="Next">
                            <span aria-hidden="true">Next</span>
                        </a>
                    </li>
                </ul>

            </nav>
        </div>

        <script>
            function setPage(page) {
                let currentURL = location.href;
                let url = new URL(currentURL);
                url.searchParams.set('page', page);
                location.href = url.toString();
            }

        </script>

    </div>
</section>


<!--&lt;!&ndash;List search tiket above here&ndash;&gt;-->

<!--<div class="tabs-content" id="weather">-->
<!--    <div class="container" style="max-width:100%; max-height:100%">-->
<!--        <div class="w3" id="tour">-->
<!--            <% for(let i = 0; i < flightInfo.length; i++) { %>-->
<!--                <div class="w3-container w3-content w3-padding-15-15-15-15 menu1"-->
<!--                     style="max-width:80% ;border-radius: 15px; background-color: white">-->

<!--                    <div id="tab1">-->
<!--                        <div class="submit-form">-->
<!--                            <h1><%= flightInfo[i].flightID["airline"] %> Airline</h1>-->

<!--                            <div class="row">-->
<!--                                <div class="col-md-3">-->
<!--                                    <fieldset>-->
<!--                                    </fieldset>-->
<!--                                </div>-->
<!--                                <div class="col-md-3">-->
<!--                                    <fieldset>-->
<!--                                        STD : <%= flightInfo[i].flightID["STD"] %>-->
<!--                                    </fieldset>-->
<!--                                </div>-->
<!--                                <div class="col-md-3">-->
<!--                                    <fieldset>-->
<!--                                        STA : <%= flightInfo[i].flightID["STA"] %>-->
<!--                                    </fieldset>-->
<!--                                </div>-->
<!--                                <div class="col-md-3">-->
<!--                                    <p class="w3-text-orange font-weight-bold menu1"><%= flightInfo[i].price %> VND/-->
<!--                                        khách</p>-->
<!--                                </div>-->
<!--                                <div class="col-md-3">-->
<!--                                    <fieldset>-->

<!--                                    </fieldset>-->
<!--                                </div>-->
<!--                                <div class="col-md-3">-->
<!--                                    <fieldset>-->
<!--                                        From: <%= flightInfo[i].flightID["departure"]["code"] %>-->
<!--                                    </fieldset>-->
<!--                                </div>-->
<!--                                <div class="col-md-3">-->
<!--                                    <fieldset>-->
<!--                                        To: <%= flightInfo[i].flightID["arrival"]["code"] %>-->
<!--                                    </fieldset>-->
<!--                                </div>-->
<!--                                <div class="col-md-3">-->
<!--                                    <fieldset>-->
<!--                                        <a class="btn btn-danger btn-lg"-->
<!--                                           href="/home/prebooking/<%= flightInfo[i]._id %>-<%= passengersSearch %>"-->
<!--                                           style="width: 100%">BUY</a>-->
<!--                                    </fieldset>-->
<!--                                </div>-->

<!--                                <div class="col-md-4" id="return-date">-->
<!--                                    <fieldset>-->

<!--                                    </fieldset>-->
<!--                                </div>-->


<!--                                <div class="col-md-12">-->
<!--                                    <fieldset>-->

<!--                                    </fieldset>-->
<!--                                    <div class="row">-->

<!--                                    </div>-->
<!--                                    <div class="row">-->

<!--                                    </div>-->
<!--                                </div>-->

<!--                                <div class="col-md-6"></div>-->
<!--                                <div class="col-md-12">-->
<!--                                    <fieldset>-->
<!--                                    </fieldset>-->
<!--                                </div>-->
<!--                            </div>-->

<!--                        </div>-->
<!--                    </div>-->

<!--                </div>-->
<!--                &lt;!&ndash;            <div class="w3-container w3-content w3-padding-5-5-5-5 menu1"   style="max-width:80% ;border-radius: 15px; background-color: white">&ndash;&gt;-->
<!--                &lt;!&ndash;&lt;!&ndash;                <span class="w3-tag w3-red w3-margin-right">Sold out</span>&ndash;&gt;&ndash;&gt;-->
<!--                &lt;!&ndash;                <ul  class="w3-ul  w3-white w3-text-pink font-weight-bold" >&ndash;&gt;-->
<!--                &lt;!&ndash;                    <li class="w3-padding"><h1><%= flightInfo[i].flightID["airline"] %> Airline</h1></li>&ndash;&gt;-->
<!--                &lt;!&ndash;                    <li class="w3-padding">STD : <%= flightInfo[i].flightID["STD"] %>  <span class="w3-padding w3-right w3-margin-right">STA: <%= flightInfo[i].flightID["STA"] %></span></li>&ndash;&gt;-->
<!--                &lt;!&ndash;                    <li class="w3-padding">From: <%= flightInfo[i].flightID["departure"]["code"] %> <span class="w3-padding w3-right w3-margin-right">To: <%= flightInfo[i].flightID["arrival"]["code"] %></span></li>&ndash;&gt;-->
<!--                &lt;!&ndash;                    <li class="w3-padding">Price: <%= flightInfo[i].price %> </li>&ndash;&gt;-->
<!--                &lt;!&ndash;                </ul>&ndash;&gt;-->
<!--                &lt;!&ndash;                <span class="w3-padding w3-right w3-margin-right"> <a class="btn btn-warning" href="/home/prebooking/<%= flightInfo[i]._id %>-<%= passengersSearch %>">BUY</a></span>&ndash;&gt;-->
<!--                &lt;!&ndash;            </div>&ndash;&gt;-->
<!--            <% } %>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->

