

<%- include ("../partials/header")%>

<section class="page-heading" id="top">
    <div class="container">
        <div class="row">
            <div class="col-md-6">

            </div>
            <div class="col-md-6">
                <div class="page-direction-button">
                    <a href="/home/booking"><i class="fa fa-home"></i>Go Back Home</a>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="banner2 banner" id="top" style="padding-top: 10px">
    <div class="container">
        <div class="row">
            <div class="col-md-12 tabgroup">
                <div class="submit-form">
                    <h2>Your Booking</h2>
                    <p>Fill in your details and review your booking.</p>
                </div>
            </div>

            <div class="col-md-12 tabgroup" hidden>
                <div class="submit-form ">
                    <h2>Your Booking</h2>
                    <p>Fill in your details and review your booking.</p>
                </div>
            </div>
            <div class="col-md-8 " id="form-all-data">
                <form action="/home/payment" method="POST">
                    <div class="submit-form tabgroup">
                        <h2>Contact Details</h2>
                    </div>
                    <!--                    <form action="/home/flight" method="GET">-->

                    <section class="tabgroup">
                        <div>
                            <div class="submit-form">
                                <div class="row">
                                    <div class="col-md-11">
                                        <h4>Contact Detail (for E-ticket/Voucher):</h4>
                                    </div>
                                    <div class="col-md-1">
                                        <h4>
                                            <span><a href="javascript:void(0)"
                                                     onclick="saveForm('contact-details', this)">Save</a></span>
                                        </h4>
                                    </div>
                                </div>
                                <!--                            <form id="form-submit" action="/home/flight" method="GET">-->
                                <div class="row form-data contact" id="contact-details">

                                    <div class="col-md-6">
                                        <fieldset>
                                            <label class="bigger-font" for="lastName">Last Name(e.g. Nguyen):</label>
                                            <input name="contactLastName" type="text"
                                                   class="form-control text bigger-font" id="lastName"
                                                   placeholder="Last name..." required onchange='/*this.form.()*/'>
                                        </fieldset>
                                        <p><small>(without title and punctuation)</small></p>
                                    </div>


                                    <div class="col-md-6">
                                        <fieldset>
                                            <label class="bigger-font" for="firstName ">Middle & First Name(e.g. Thi
                                                Ngoc Anh):</label>
                                            <input name="contactFirstName" type="text"
                                                   class="form-control text bigger-font"
                                                   id="firstName"
                                                   placeholder="First name..." required onchange='/*this.form.()*/'>
                                        </fieldset>
                                        <p><small>(without title and punctuation)</small></p>
                                    </div>


                                    <div class="col-md-6">
                                        <fieldset>
                                            <label class="bigger-font" for="phoneNumber">Mobile Number:</label>
                                            <input name="contactPhoneNumber" type="number"
                                                   class="form-control text bigger-font"
                                                   id="phoneNumber"
                                                   placeholder="Phone number..." required
                                                   onchange='/*this.form.()*/'>
                                        </fieldset>
                                        <p><small>e.g. +62812345678, for Country Code (+62) and Mobile No.
                                                0812345678</small></p>
                                    </div>


                                    <div class="col-md-6">
                                        <fieldset>
                                            <label class="bigger-font" for="email">Email:</label>
                                            <input name="contactEmail" type="email"
                                                   class="form-control text bigger-font" id="email"
                                                   placeholder="Email..." required onchange='/*this.form.()*/'>
                                        </fieldset>
                                        <p><small>e.g. email@example.com</small></p>
                                    </div>

                                </div>
                                <!--                            </form>-->
                            </div>
                        </div>
                    </section>
                    <div class="submit-form tabgroup">
                        <h2>Traveler Details</h2>
                    </div>

                    <!-- forEach for Adult from here-->

                    <% for (let i = 0; i < quantityPassenger[0]; i++) { %>

                        <section class="tabgroup form-data adult" id="traveler-details-adult-<%= i %>">
                            <div>
                                <div class="submit-form">
                                    <div class="row">
                                        <div class="col-md-11">
                                            <h4>Adult <%= i + 1 %></h4>
                                        </div>
                                        <div class="col-md-1">
                                            <h4>
                                            <span><a href="javascript:void(0)"
                                                     onclick="saveForm('traveler-details-adult-<%= i %>', this)">Save</a></span>
                                            </h4>
                                        </div>
                                    </div>
                                    <div class="row">

                                        <div class="col-md-6">
                                            <fieldset>
                                                <label class="bigger-font">Title:</label>

                                                <select class="bigger-font" required name='titleAdult<%= i %>'>
                                                    <!--onchange='this.form.()'-->
                                                    <option value="Mr">Mr</option>
                                                    <option value="Mrs">Mrs</option>
                                                    <option value="Ms">Ms</option>
                                                </select>
                                            </fieldset>
                                        </div>
                                        <div class="col-md-6"></div>

                                        <div class="col-md-6">
                                            <fieldset>
                                                <label class="bigger-font" for="lastName">Last Name(e.g.
                                                    Nguyen):</label>
                                                <input name="lastNameAdult<%= i %>" type="text"
                                                       class="form-control text bigger-font"
                                                       id="lastName"
                                                       placeholder="Last name..." required
                                                       onchange='/*this.form.()*/'>
                                            </fieldset>
                                            <p><small>(without title and punctuation)</small></p>
                                        </div>


                                        <div class="col-md-6">
                                            <fieldset>
                                                <label class="bigger-font" for="firstName">Middle & First Name(e.g. Thi
                                                    Ngoc
                                                    Anh):</label>
                                                <input name="firstNameAdult<%= i %>" type="text"
                                                       class="form-control text bigger-font"
                                                       id="firstName"
                                                       placeholder="First name..." required
                                                       onchange='/*this.form.()*/'>
                                            </fieldset>
                                            <p><small>(without title and punctuation)</small></p>
                                        </div>


                                        <div class="col-md-6">
                                            <fieldset>
                                                <label class="bigger-font" for="dob">Date of Birth:</label>
                                                <input name="dobAdult<%= i %>" type="date"
                                                       class="form-control text bigger-font"
                                                       id="dob"
                                                       placeholder="1910-01-01" required onchange='/*this.form.()*/'
                                                       min='1910-01-01' max='2010-01-01'>
                                            </fieldset>
                                            <p><small>Adult Passenger (Age 12 and older)</small></p>
                                        </div>

                                        <div class="col-md-6">
                                            <fieldset>
                                                <label class="bigger-font" for="nationality">Nationality:</label>
                                                <input name="nationalityAdult<%= i %>" type="text"
                                                       class="form-control text bigger-font"
                                                       id="nationality"
                                                       placeholder="Nationality..." required
                                                       onchange='/*this.form.()*/'>
                                            </fieldset>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                    <% } %>

                    <!-- forEach for Child from here-->

                    <% for (let i = 0; i < quantityPassenger[1]; i++) { %>
                        <section id="child-details-<%= i %>" class="tabgroup form-data child">
                            <div>
                                <div class="submit-form">
                                    <div class="row">
                                        <div class="col-md-11">
                                            <h4>Child <%= i + 1 %></h4>
                                        </div>
                                        <div class="col-md-1">
                                            <h4>
                                            <span><a href="javascript:void(0)"
                                                     onclick="saveForm('child-details-<%= i %>', this)">Save</a></span>
                                            </h4>
                                        </div>
                                    </div>
                                    <div class="row">

                                        <div class="col-md-6">
                                            <fieldset>
                                                <label class="bigger-font">Title:</label>
                                                <select class="bigger-font" required name='titleChild<%= i %>'>
                                                    <!--onchange='this.form.()'-->
                                                    <option value="Mr">Mr</option>
                                                    <option value="Ms">Ms</option>
                                                </select>
                                            </fieldset>
                                        </div>
                                        <div class="col-md-6"></div>

                                        <div class="col-md-6">
                                            <fieldset>
                                                <label class="bigger-font" for="lastName">Last Name(e.g.
                                                    Nguyen):</label>
                                                <input name="lastNameChild<%= i %>" type="text"
                                                       class="form-control text bigger-font"
                                                       id="lastName"
                                                       placeholder="Last name..." required
                                                       onchange='/*this.form.()*/'>
                                            </fieldset>
                                            <p><small>(without title and punctuation)</small></p>
                                        </div>


                                        <div class="col-md-6">
                                            <fieldset>
                                                <label class="bigger-font" for="firstName">Middle & First Name(e.g. Thi
                                                    Ngoc
                                                    Anh):</label>
                                                <input name="firstNameChild<%= i %>" type="text"
                                                       class="form-control text bigger-font"
                                                       id="firstName"
                                                       placeholder="First name..." required
                                                       onchange='/*this.form.()*/'>
                                            </fieldset>
                                            <p><small>(without title and punctuation)</small></p>
                                        </div>


                                        <div class="col-md-6">
                                            <fieldset>
                                                <label class="bigger-font" for="dob">Date of Birth:</label>
                                                <input name="dobChild<%= i %>" type="date"
                                                       class="form-control text bigger-font"
                                                       id="dob"
                                                       placeholder="1910-01-01" required onchange='/*this.form.()*/'
                                                       min='2010-01-01' max='2020-01-01'>
                                            </fieldset>
                                            <p><small>Child Passenger (Age 2 - 11)</small></p>
                                        </div>

                                        <div class="col-md-6">
                                            <fieldset>
                                                <label class="bigger-font" for="nationality">Nationality:</label>
                                                <input name="nationalityChild<%= i %>" type="text"
                                                       class="form-control text bigger-font"
                                                       id="nationality"
                                                       placeholder="Nationality..." required
                                                       onchange='/*this.form.()*/'>
                                            </fieldset>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>

                    <% } %>
                    <!--End forEach-->
                    <!-- forEach for Infant from here-->
                    <% for (let i = 0; i < quantityPassenger[2]; i++) { %>


                        <section id="infant-details-<%= i %>" class="tabgroup form-data infant">
                            <div>
                                <div class="submit-form">
                                    <div class="row">
                                        <div class="col-md-11">
                                            <h4>Infant <%= i + 1 %></h4>
                                        </div>
                                        <div class="col-md-1">
                                            <h4>
                                            <span><a href="javascript:void(0)"
                                                     onclick="saveForm('infant-details-<%= i %>', this)">Save</a></span>
                                            </h4>
                                        </div>
                                    </div>
                                    <div class="row">

                                        <div class="col-md-6">
                                            <fieldset>
                                                <label for="titleInfant<%= i %>" class="bigger-font">Title:</label>
                                                <select required name='titleInfant<%= i %>'>
                                                    <!--onchange='this.form.()'-->
                                                    <option value="Mr">Mr</option>
                                                    <option value="Ms">Ms</option>
                                                </select>
                                            </fieldset>
                                        </div>
                                        <div class="col-md-6"></div>

                                        <div class="col-md-6">
                                            <fieldset>
                                                <label class="bigger-font" for="lastName">Last Name(e.g.
                                                    Nguyen):</label>
                                                <input name="lastNameInfant<%= i %>" type="text"
                                                       class="form-control text bigger-font" id="lastName"
                                                       placeholder="Last name..." required
                                                       onchange='/*this.form.()*/'>
                                            </fieldset>
                                            <p><small>(without title and punctuation)</small></p>
                                        </div>


                                        <div class="col-md-6">
                                            <fieldset>
                                                <label class="bigger-font" for="firstName">Middle & First Name(e.g. Thi
                                                    Ngoc
                                                    Anh):</label>
                                                <input name="firstNameInfant<%= i %>" type="text"
                                                       class="form-control text bigger-font" id="firstName"
                                                       placeholder="First name..." required
                                                       onchange='/*this.form.()*/'>
                                            </fieldset>
                                            <p><small>(without title and punctuation)</small></p>
                                        </div>


                                        <div class="col-md-6">
                                            <fieldset>
                                                <label class="bigger-font" for="dob">Date of Birth:</label>
                                                <input name="dobInfant<%= i %>" type="date"
                                                       class="form-control text bigger-font"
                                                       id="dob"
                                                       placeholder="1910-01-01" required onchange='/*this.form.()*/'
                                                       min='2020-01-01' max='2022-01-01'>
                                            </fieldset>
                                            <p><small>Infant Passenger (Below age 2)</small></p>
                                        </div>

                                        <div class="col-md-6">
                                            <fieldset>
                                                <label class="bigger-font" for="nationality">Nationality:</label>
                                                <input name="nationalityInfant<%= i %>" type="text"
                                                       class="form-control text bigger-font"
                                                       placeholder="Nationality..." required
                                                       onchange='/*this.form.()*/'>
                                            </fieldset>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                    <% } %>
                    <!--                    </form>-->

                    <!--End forEach-->
                    <div class="submit-form tabgroup"
                         style="background: rgba(255, 122, 89, .0); padding: 15px 0 !important;">
                        <div class="row">
                            <div class="col-md-6"></div>
                            <div class="col-md-6">
                                <fieldset>
                                    <button type="button" class="btn"
                                            onclick="sendForm('<%- flightId %>','<%- passengers %>')">Continue
                                    </button>

                                    <!--                                    <button type="submit" id="&lt;!&ndash;form-submit&ndash;&gt;" style="margin-top: 0px" class="btn">-->
                                    <!--                                        Continue-->
                                    <!--                                    </button>-->
                                </fieldset>
                            </div>
                        </div>
                    </div>
                </form>
            </div>


            <!--Right-->
            <div class="col-md-4">

                <section id="first-tab-group" class="tabgroup " style="padding-top: 0px !important">
                    <div id="tab1">
                        <div class="submit-form">
                            <div class="row">
                                <div class="col-md-10">
                                    <h3><i class="fa fa-plane" aria-hidden="true"
                                           style="color: DodgerBlue; font-size: 1.5em "></i> <%= flightInfo[0].flightID["departure"]["city"] %>
                                        (<%= flightInfo[0].flightID["departure"]["code"] %>) <i
                                                class="fa fa-long-arrow-right"
                                                aria-hidden="true"></i> <%= flightInfo[0].flightID["arrival"]["city"] %>
                                        (<%= flightInfo[0].flightID["arrival"]["code"] %>) </h3>
                                </div>
                                <div class="col-md-2">
                                    <h3>
                                            <span><a href="javascript:void(0)"
                                                     onclick="">Details</a></span>
                                    </h3>
                                </div>
                                <div class="col-md-12">
                                    <h4>
                                    </h4>
                                </div>

                            </div>


                            <!--                            <form id="form-submit" action="/home/flight" method="GET">-->
                            <div class="row">
                                <div class="col-md-12">
                                    <fieldset>
                                        <h5 class="bigger-font"><em>Departure - <%= date %></em></h5>

                                    </fieldset>
                                </div>


                                <div class="col-md-12">
                                    <fieldset>
                                        <%
                                        let flightCode = flightInfo[0].flightID["airline"];
                                        let arlines = [
                                            {
                                                code: "QH",
                                                name: "Bamboo Airways"
                                            },
                                            {
                                                code: "VU",
                                                name: "Vietravel Airlines"
                                            },
                                            {
                                                code: "VNA",
                                                name: "Vietnam Airlines"
                                            },
                                            {
                                                code: "VJ",
                                                name: "VietJet Air"
                                            }
                                        ]

                                        let airline = arlines.find(airline => {
                                            return flightCode === airline.code
                                        }) || {code: "unknown", name: "unknown"};
                                        %>

                                        <label class="bigger-font"><%= airline.name %></label>
                                    </fieldset>
                                    <p><small>Promo</small></p>
                                </div>


                                <div class="col-md-12">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <label class="bigger-font"><%= flightInfo[0].flightID["STD"] %> </label>
                                        </div>
                                        <div class="col-md-4">
                                            <%
                                            // js code here
                                            let STD = flightInfo[0].flightID["STD"].split(":");
                                            STD.map(std => {
                                                std = parseInt(std);
                                            });
                                            let STA = flightInfo[0].flightID["STA"].split(":");
                                            STA.map(sta => {
                                                sta = parseInt(sta);
                                            });
                                            if (+STA[0] < +STD[0]) {
                                                STA[0] = 24 + STA[0];
                                            }
                                            let flightTime = [];
                                            flightTime[0] = STA[0] - STD[0];
                                            flightTime[1] = STA[1] - STD[1];
                                            %>
                                            <label class="bigger-font "><%= flightTime[0] %>h <%= flightTime[1] %>
                                                m</label>

                                        </div>
                                        <div class="col-md-4">
                                            <label class="bigger-font"><%= flightInfo[0].flightID["STA"] %> </label>

                                        </div>

                                    </div>

                                    <div class="row">
                                        <div class="col-md-4">
                                            <label class="bigger-font "><%= flightInfo[0].flightID["departure"]["code"] %> </label>
                                        </div>
                                        <div class="col-md-4 justify-content-center"
                                             style="text-align:center !important">
                                            <label class="bigger-font text-center"><i class="fa fa-long-arrow-right"
                                                                                      aria-hidden="true"></i></label>
                                        </div>
                                        <div class="col-md-4">
                                            <label class="bigger-font"><%= flightInfo[0].flightID["arrival"]["code"] %> </label>

                                        </div>
                                    </div>


                                    <!--                                        <p><small>e.g. +62812345678, for Country Code (+62) and Mobile No.-->
                                    <!--                                                0812345678</small></p>-->
                                </div>
                            </div>
                            <!--                            </form>-->
                        </div>
                    </div>
                </section>


            </div>


            <!--Passenger fill form above herre            -->
            <!--            </form>-->
        </div>
    </div>
</section>


<!--Body above here-->
