<%- include ("../partials/header")%>


<!--Loading Start-->
<style>
    /* Center the loader */
    #loader {
        position: absolute;
        left: 50%;
        top: 50%;
        z-index: 1;
        width: 100px;
        height: 100px;
        margin: -76px 0 0 -76px;
        border: 16px solid #F3F3F3;
        border-radius: 50%;
        border-top: 16px solid #3498DB;
        -webkit-animation: spin 2s linear infinite;
        animation: spin 2s linear infinite;
    }
    @-webkit-keyframes spin {
        0% { -webkit-transform: rotate(0deg); }
        100% { -webkit-transform: rotate(360deg); }
    }
    @keyframes spin {
        0% { transform: rotate(0deg); }
        100% { transform: rotate(360deg); }
    }
    /* Add animation to "page content" */
    .animate-bottom {
        position: relative;
        -webkit-animation-name: animatebottom;
        -webkit-animation-duration: 1s;
        animation-name: animatebottom;
        animation-duration: 1s
    }
    @-webkit-keyframes animatebottom {
        from { bottom:-100px; opacity:0 }
        to { bottom:0px; opacity:1 }
    }
    @keyframes animatebottom {
        from{ bottom:-100px; opacity:0 }
        to{ bottom:0; opacity:1 }
    }

</style>
<!--<div id="loader" style="display:none;" class="animate-bottom" ></div>-->
<script>

    function showLoading() {
        document.getElementById("loader").style.display = "block";

    }
</script>
<!--Loding End-->


<!--Body under here-->
<section class="page-heading" id="top">
    <div class="container">
        <div class="row">
            <div class="col-md-6">

            </div>
            <div class="col-md-6">
                <div class="page-direction-button">
                    <a href="/home/booking"><i class="fa fa-home"></i>Go Back Home</a>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="banner2 banner" id="top">
    <div class="container">
        <div class="row">
            <div class="col-md-12 tabgroup">
                <div class="submit-form">
                    <h2>Payment Your Booking</h2>
                    <p>Fill in your payment method details to finish booking!</p>
                </div>
            </div>

            <!--            Start payment method-->
            <!--   End payment method     -->

            <div class="col-md-8" style="position: relative">
                <div id="loader" style="display:none;" class="animate-bottom" ></div>
                <form onsubmit="showLoading()" action="/home/confirm-payment/<%- flightId %>-<%- passengers %>" method="POST">

                    <!--                    <form action="/home/flight" method="GET">-->
                    <section class="tabgroup" style="padding-top: 0 !important ;">
                        <div>
                            <div class="submit-form">

                                <div class="row form-data contact" id="contact-details">
                                    <div class="col-md-12">
                                        <h4><i class="fa fa-credit-card" aria-hidden="true"></i> Credit Card</h4>
                                    </div>
                                    <div class="col-md-12">
                                        <fieldset>
                                            <label class="bigger-font" for="card-owner">Card Owner</label>
                                            <input name="cardOwner" type="text"
                                                   class="form-control text bigger-font" id="lastName"
                                                   placeholder="Card Owner Name" required onchange='/*this.form.()*/'>
                                        </fieldset>
                                    </div>

                                    <div class="col-md-12">
                                        <fieldset>
                                            <label class="bigger-font" for="card-number">Card Number <i class="fa fa-cc-mastercard" aria-hidden="true"></i> <i class="fa fa-cc-visa" aria-hidden="true"></i> <i class="fa fa-cc-amex" aria-hidden="true"></i></label>
                                            <input name="cardNumber" type="text"
                                                   class="form-control text bigger-font"
                                                   id="card-number"
                                                   placeholder="Card Number" required onchange='/*this.form.()*/'>

                                        </fieldset>
                                    </div>

                                    <div class="col-md-8">
                                        <fieldset>
                                            <label class="bigger-font" for="expries-date">Expiration Date</label>
                                            <input name="expriesDate" type="text"
                                                   class="form-control date bigger-font"
                                                   id="expries-date"
                                                   placeholder="MM/YYYY" required onchange='/*this.form.()*/'>
                                        </fieldset>
                                    </div>


                                    <div class="col-md-4">
                                        <fieldset>
                                            <label class="bigger-font" for="CVV">CVV <i class="fa fa-question-circle" aria-hidden="true"></i></label>
                                            <input name="CVV" type="number"
                                                   class="form-control text bigger-font"
                                                   id="CVV"
                                                   placeholder="CVV" required
                                                   onchange='/*this.form.()*/' >
                                        </fieldset>
                                    </div>

                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <fieldset>
                                            <button type="submit" class="btn">Confirm Payment
                                            </button>
                                        </fieldset>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </section>
                </form>
            </div>


            <!--Right-->
            <div class="col-md-4">

                <section id="first-tab-group" class="tabgroup " style="padding-top: 0px !important">
                    <div id="tab1">
                        <div class="submit-form">
                            <div class="row">
                                <div class="col-md-10">
                                    <h3><i class="fa fa-plane" aria-hidden="true"
                                           style="color: DodgerBlue; font-size: 1.5em "></i> <%= flightInfo[0].flightID["departure"]["city"] %>
                                        (<%= flightInfo[0].flightID["departure"]["code"] %>) <i
                                                class="fa fa-long-arrow-right"
                                                aria-hidden="true"></i> <%= flightInfo[0].flightID["arrival"]["city"] %>
                                        (<%= flightInfo[0].flightID["arrival"]["code"] %>) </h3>
                                </div>
                                <div class="col-md-2">
                                    <h3>
                                            <span><a href="javascript:void(0)"
                                                     onclick="">Details</a></span>
                                    </h3>
                                </div>
                                <div class="col-md-12">
                                    <h4>
                                    </h4>
                                </div>

                            </div>


                            <!--                            <form id="form-submit" action="/home/flight" method="GET">-->
                            <div class="row">
                                <div class="col-md-12">
                                    <fieldset>
                                        <h5 class="bigger-font"><em>Departure - <%= date %></em></h5>
                                        <p >Code: <%= bookingCode%></p>
                                        <p><%= quantityPassenger[0] %> Adult, <%= quantityPassenger[1] %>
                                            Child, <%= quantityPassenger[2] %>
                                            Infant, <%= flightInfo[0].typeID["class"][0].toUpperCase() + flightInfo[0].typeID["class"].slice(1) %> </p>
                                        <p>Total Payment: <%= totalPayment.toLocaleString('vi-VN') %> VND</p>
                                    </fieldset>
                                </div>


                                <div class="col-md-12">
                                    <fieldset>
                                        <%
                                        let flightCode = flightInfo[0].flightID["airline"];
                                        let arlines = [
                                            {
                                                code: "QH",
                                                name: "Bamboo Airways"
                                            },
                                            {
                                                code: "VU",
                                                name: "Vietravel Airlines"
                                            },
                                            {
                                                code: "VNA",
                                                name: "Vietnam Airlines"
                                            },
                                            {
                                                code: "VJ",
                                                name: "VietJet Air"
                                            }
                                        ]

                                        let airline = arlines.find(airline => {
                                            return flightCode === airline.code
                                        }) || {code: "unknown", name: "unknown"};
                                        %>

                                        <label class="bigger-font"><%= airline.name %></label>
                                    </fieldset>
                                    <p><small>Promo</small></p>
                                </div>


                                <div class="col-md-12">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <label class="bigger-font"><%= flightInfo[0].flightID["STD"] %> </label>
                                        </div>
                                        <div class="col-md-4">
                                            <%
                                            // js code here
                                            let STD = flightInfo[0].flightID["STD"].split(":");
                                            STD.map(std => {
                                                std = parseInt(std);
                                            });
                                            let STA = flightInfo[0].flightID["STA"].split(":");
                                            STA.map(sta => {
                                                sta = parseInt(sta);
                                            });
                                            if (+STA[0] < +STD[0]) {
                                                STA[0] = 24 + STA[0];
                                            }
                                            let flightTime = [];
                                            flightTime[0] = STA[0] - STD[0];
                                            flightTime[1] = STA[1] - STD[1];
                                            %>
                                            <label class="bigger-font "><%= flightTime[0] %>h <%= flightTime[1] %>
                                                m</label>

                                        </div>
                                        <div class="col-md-4">
                                            <label class="bigger-font"><%= flightInfo[0].flightID["STA"] %> </label>

                                        </div>

                                    </div>

                                    <div class="row">
                                        <div class="col-md-4">
                                            <label class="bigger-font "><%= flightInfo[0].flightID["departure"]["code"] %> </label>
                                        </div>
                                        <div class="col-md-4 justify-content-center"
                                             style="text-align:center !important">
                                            <label class="bigger-font text-center"><i class="fa fa-long-arrow-right"
                                                                                      aria-hidden="true"></i></label>
                                        </div>
                                        <div class="col-md-4">
                                            <label class="bigger-font"><%= flightInfo[0].flightID["arrival"]["code"] %> </label>

                                        </div>
                                    </div>


                                    <!--                                        <p><small>e.g. +62812345678, for Country Code (+62) and Mobile No.-->
                                    <!--                                                0812345678</small></p>-->
                                </div>
                            </div>
                            <!--                            </form>-->
                        </div>
                    </div>
                </section>


            </div>


            <!--Passenger fill form above herre            -->
            <!--            </form>-->
        </div>
    </div>
</section>


<!--Body above here-->
